@import '../styles/globals.css';

.about-me {
    display: flex;
    justify-content: center;
}

.resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    width: 134px;
    height: 44px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); 
}