/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
  --light-theme-text-color: 0, 0, 0;
--light-theme-bg-start: 214, 219, 220;
--light-theme-bg-end: 255, 255, 255;
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
:root {
--dark-theme-text-color: 255, 255, 255;
--dark-theme-bg-start: 0, 0, 0;
--dark-theme-bg-end: 0, 0, 0;
}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utility classes */
@layer utilities {
.text-wrap {
overflow-wrap: break-word;
}
}

/* themes */
:root {
  --primary-bright-blue: #3AAED8;
  --primary-light-turquoise: #7CFEF0;
  --primary-mint-green: #D7F9F1;
  --primary-deep-green: #618B4A;
  --primary-vibrant-green: #28965A;
  --primary-sage-green: #629460;
  --text-light-mode: #333333;
  --text-dark-mode: #F5F5F5;
}
