/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
  --text-color: var(--text-light-mode); 
  --bg-color: var(--primary-mint-green);
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-dark-mode);
    --bg-color: var(--color-background-dark);
  }
}

body {
  color: var(--text-color); 
  background: var(--bg-color)
      
}

/* Utility classes */
@layer utilities {
  .text-wrap {
    overflow-wrap: break-word;
  }
}

/* themes */
:root {
  --primary-bright-blue: #3AAED8;
  --primary-light-turquoise: #7CFEF0;
  --primary-mint-green: #D7F9F1;
  --primary-deep-green: #618B4A;
  --primary-vibrant-green: #28965A;
  --primary-sage-green: #629460;
  --text-light-mode: #333333;
  --text-dark-mode: #F5F5F5;
  --color-background-dark: #1f1f1f;
  --color-background-light: #ffffff;
}

.theme-dark {
  --color-background: var(--color-background-dark);
  --color-text: var(--text-dark-mode);
}

.theme-light {
  background-color: var(--primary-mint-green);
  color: var(--text-light-mode);
}
